
.imagen img{
  width: 100%;
}

.info-caracteristicas {
  border: .1em solid #ccc;
  border-radius: 20px;
  padding: 5px 5px 5px 5px;
}

.info-title{
  text-align: center;
  padding-bottom: 10px;
}

.info-section{
  width: 50%;
  display: inline-block;
}

.precio{
  font-size: 1.6em;
  color: #3f51b5;
  display: inline-block;
  position: absolute;
}

.description {
  margin-top: 30px;
}

.description-title {
  text-align: center;
}

.add-cart{
  vertical-align: middle;
  position: relative;
  height: 50px;
}
.icon-cart{
  position: absolute;
  display: inline-block;
  left: 100px;
  top: -3.5px;
}